terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate/*
terraform.tfvars
**/terraform.tfvars
**/terraform/*.tfvars
**/terraform/*.tfvars.json
*.auto.tfvars
*.tfstate
*.tfstate.*
.terraform/
**/.terraform/
**/ansible/inventory/inventory.ini
.venv/
.ansible/
.vscode/